/* Navbar container */
.navbar {
  background-color: #333;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px  40px;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Left side navigation items */
.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 19px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #00b4d8;
}

/* Right side user section */
.user-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}


/* Username */
.welcome {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.welcome span {
  color: #00b4d8;
}

/* Logout button */
.logout-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #b02a37;
}

h2, h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 44px;
  margin: 20px 0;
}

/* Responsive design */
@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      padding: 1.5rem;
  }

  .nav-links {
      margin-bottom: 1rem;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
  }

  .user-section {
      flex-direction: column;
      gap: 0.5rem;
  }
}

/* Body styling to remove default margin */
body {
  margin: 0;
  background: #f0f2f5;
}